/* Page Styling */

* {
    margin: 0;
    scroll-behavior: smooth; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    body {
      background-color: #ffffff;
    }
    
  /* Header & Navigation Section */
  
    .page-header{
      height: 100vh;
      background-color: #005ec0;
    }
    
    .my-nav{
      align-items: center;
      text-align: center;
      justify-content: center;
    }
    
    .my-nav a{
      text-decoration: none;
      color: rgb(0, 0, 0);
      line-height: 3rem;
      text-transform: uppercase;
      flex-direction: row;
      width: 100%;
      margin-left: 30px;
      transition-duration: 600ms;
    
    }
    
    .my-nav a:hover{
      color: #005ec0;
    }
    
    .back{
      background-color: rgb(255, 255, 255);
      width: 100%;
      
    }
    .my-section{
      align-items: center;
      justify-content: center;
      display: flex;
      margin-top: 15rem;
      color: whitesmoke;
      display: flex;
      flex-direction: column;
    }
  
    .my-section h1{
      margin-top: 60px;
      text-transform: uppercase;
      font-weight: lighter;
      letter-spacing: 0.4rem;
      text-shadow: 0px 5px 0px rgb(0, 0, 0);
    }
    
    .my-section p{
      margin-top: 2rem;
      font-size: 20px;
      font-style: italic;
      letter-spacing: 0.1rem;
      font-weight: lighter;
    }
  
    .down-arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 6rem;
    }
    
    .down-arrow #arrow {
      width: 18px;
      height: 18px;
      border-radius: 2px;
      border-bottom: 5px solid whitesmoke;
      border-right: 5px solid whitesmoke;
      transform: rotate(45deg);
      animation: flow 3s infinite ease-in-out;
    }
    
    .down-arrow #arrow:nth-child(1) {
      animation-delay: -1s;
    }
    .down-arrow #arrow:nth-child(2) {
      animation-delay: -3s;
    }
    
    .down-arrow #arrow:nth-child(3) {
      animation-delay: -2s;
    }
    
    @keyframes flow {
      0% {
        opacity: 1;
        margin-top: 0.5rem;
      }
    
      50% {
        opacity: 0.5;
        margin-top: 0.5rem;
      }
    
      100% {
        opacity: 0;
        margin-top: 0.5rem;
      }
    }
    
  /* About Section */
    
    .about-me-container {
      height: 100vh;
      background-color: #ffffff;
      align-items: center;
      justify-content: center;
    }
    
    .my-content2{
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgb(0, 0, 0);
      text-align: center;
    
    }
    .my-content2 .words{
      letter-spacing: 0.1rem;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
    }
    .words h2{
      margin-bottom: 250px;
      font-size: 30px;
      text-transform: uppercase;
      text-align: center;
    }
  
    .words p{
      width: 70%;
      margin-top: -210px;
    }
    
    .words .link{
      margin-top: 3rem;
    }
    
    .link a{
      justify-content: center;
      align-items: center;
      text-decoration: none;
      padding: 10px;
      font-weight: 900;
      margin-left: 25px;
    
    }
    
    .link a:nth-child(1){
      margin-left: -12px;
      color: black;
      transition-duration: 600ms;
      border-radius: 10px;
    }
    
    .link a:nth-child(1):hover{
      background-color: blue;
      color: whitesmoke;
      padding: 10px;
    }
    
    .link a:nth-child(2){
      color: black;
      transition-duration: 600ms;
      border-radius: 10px;
    }
    
    .link a:nth-child(2):hover{
      background-color: black;
      color: whitesmoke;
      padding: 10px;
    }
  
    .my-content2 img{
      height: 100vh;
      width: 50%;
      margin-left: 0;
    
    }
  
  /* Skills Section */
  
  .skills-container {
    height: 100vh;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
  }
  
  .my-content3{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    text-align: center;
  
  }
  .my-content3 .my-skills{
    letter-spacing: 0.1rem;
    margin-top: 80px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .my-skills h2{
    margin-bottom: 180px;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
  }
  
  .python img {
    margin-left: -1000px;
    margin-top: -120px;
  }
  
  .python p {
    font-size: 20px;
    max-width: 800px;
    margin-left: -680px;
    margin-top: -135px;
    font-style: italic;
  }
  
  .figma img {
    margin-top: 120px;
    margin-left: -1000px;
  }
  
  .figma p {
    font-size: 20px;
    max-width: 800px;
    margin-left: -680px;
    margin-top: -135px;
    font-style: italic;
  }
  
  /* Contact Section */
  
  .contact-container {
    height: 100vh;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
  }
  
  .my-content4{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    text-align: center;
  
  }
  .my-content4 .contact-information{
    letter-spacing: 0.1rem;
    margin-top: 80px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  
  .my-content4 label{
    display: flex;
    margin-bottom: 0.5rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1rem;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .contact-information h2{
    margin-bottom: 180px;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
  }
  
  .sentences p {
    font-size: 15px;
    margin-top: -120px;
    max-width: 900px;
    text-align: center;
  }
  
  input[type=text], select {
    width: 100%;
    padding: 10px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  }
  
  input[type=email], select {
    width: 100%;
    padding: 10px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  }
  
  input[type=tel], select {
    width: 100%;
    padding: 10px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  }
  
  input[type=submit] {
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 8px;
    color: black;
    padding: 10px 12px;
    text-decoration: none;
    width: 45%;
    margin: 4px 2px;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    margin-top: 15px;
  
  }
  
  input#go {
    transition: transform 0.3s ease;
  }
  
  input#go:hover {
  transform: translate(-5px, -5px);
  color: white;
  background-color: #005ec0;
  
  }
  
  textarea {
    width: 120%;
    align-items: center;
    justify-content: center;
    margin-left: -24px;
    height: 150px;
    padding: 10px 15px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 14px;
    resize: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  }